.select {
    background: none;
    font-weight: 300;
    padding:15px;
    color: #D4D4D4;
    outline: none;
    width: 100%;
    height: 39px;

}


.select_container {
    position: relative;
    display: inline-block;

}

.select_container::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.7px;
    /* the border thickness */
    border-radius: 10px;
    background: linear-gradient(to right, #c2c2c233, #c2c2c2b4);
    mask:
      linear-gradient(#000 0 0) exclude,
      linear-gradient(#000 0 0) content-box;
  }

.label {
    position: absolute;
    top: -5px;
    left: 20px;
    font-size: 0.5rem;
    background-color: #21143d;
    color: #D4D4D4;
    padding: 2px;
    z-index: 1;
}