.background {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(200px - 40px);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform: scale(1);
}

.background:hover {
    transform: scale(1.05);
}


.bottom {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: var(--font-size-11xl);
    text-transform: uppercase;
    font-weight: 800;
    color: var(--color-white);
}

.subtitle {
    font-size: var(--font-size-sm);
    color: var(--color-gray-700);
}