.container {
    display: flex;
    justify-content: space-between;

    background-color: var(--color-gray-600);
    backdrop-filter: blur(88px);
    
    background-color: #19162F;

    border: 10px solid;
    border-image: url("/icons/backgrounds/input.svg") 10;
    box-sizing: border-box;
    padding: 20px;

    margin-bottom: 20px;
}

.button {
    border: none;
    border-radius: 10px;
    width: 103px;
    height: 26px;
    color: white;
    background-color: gray
}