.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 20%);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.window {
    background-color: rgba(42, 39, 68, 100%);
    backdrop-filter: blur(88px);
    border-radius: 20px;
    box-shadow: inset 0 4px 100px rgba(53, 73, 94, 0.6);
    border: none;
    background-repeat: no-repeat;
    background-size: cover;

    height: 735px;

    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    

    font-size: var(--font-size-xs);
    color: var(--color-lightgray-100);
    font-family: var(--font-unbounded);
    
    box-sizing: border-box;
}

@media screen and (min-width: 924px){
    .window {
        width: 924px;
    }
}

.select {
    background: none;
    font-weight: 300;
    padding: 10px;
    border: 5px solid;
    border-image: url("/icons/backgrounds/input.svg") 6;
    box-sizing: border-box;
    color: white;
    outline: none;
    width: 211px;
    margin-left: 2px;

    height: 42px;
}

.button {
    text-transform: uppercase;
    width: calc(194px - 27px);
    text-align: center;
    border-radius: 12px;
    background-color: var(--color-deeppink);
    font-weight: 500;
    padding: 13.5px;

    color: white;
    align-self: center;

    outline: none;
    border: none;
}

.button:hover {
    background-color: #FF2990;
}